<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <p class="author-link">Made by <a href="{{site.author_link}}">{{site.author}}</a> in San Francisco</p>
      <div class="social-links">
        <img class="image-link" src="{{site.facebook}}" alt="{{site.facebook}}">
        <img class="image-link" src="{{site.twitter}}" alt="{{site.twitter}}">
        <img class="image-link" src="{{site.instagram}}" alt="{{site.instagram}}">
        <img class="image-link" src="{{site.github}}" alt="{{site.github}}">
        <img class="image-link" src="{{site.mail}}" alt="{{site.mail}}">
        
      </div>
      <div class="link-text">
        <a href="http://" target="_blank" rel="noopener noreferrer">What's new</a>
        <a href="http://" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        <a href="http://" target="_blank" rel="noopener noreferrer">Add to Chrome</a>
      </div>
    </div>
    
  </div>

</footer>
