<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <center>
        <p class="author-link">Made by <a href="{{site.author_link}}">{{site.author}}</a> in San Francisco</p>
      </center>
      <div class="social-links">
        <img class="image-link" src="{{site.facebook | relative_url }}" alt="{{site.facebook}}">
        <img class="image-link" src="{{site.twitter | relative_url }}" alt="{{site.twitter}}">
        <img class="image-link" src="{{site.instagram | relative_url }}" alt="{{site.instagram}}">
        <img class="image-link" src="{{site.github | relative_url }}" alt="{{site.github}}">
        <img class="image-link" src="{{site.mail | relative_url }}" alt="{{site.mail}}">
        
      </div>
      <div class="link-text">
        <a href="#" target="_blank" rel="noopener noreferrer">What's new</a>
        <a href="#" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        <a href="{{site.extension_link}}" target="_blank" rel="noopener noreferrer">Add to Chrome</a>
      </div>
    </div>
    
  </div>

</footer>
