<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <p class="author-link">Made by <a href="https://www.justiceo.com/">Justice Ogbonna</a> in San Francisco</p>
      <div class="social-links">
        <img class="image-link" src="/assets/img/Facebook.svg" alt="">
        <img class="image-link" src="/assets/img/Facebook.svg" alt="">
        <img class="image-link" src="/assets/img/Facebook.svg" alt="">
        <img class="image-link" src="/assets/img/Facebook.svg" alt="">
        <img class="image-link" src="/assets/img/Facebook.svg" alt="">
        
      </div>
      <div class="link-text">
        <a href="http://" target="_blank" rel="noopener noreferrer">What's new</a>
        <a href="http://" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        <a href="http://" target="_blank" rel="noopener noreferrer">Add to Chrome</a>
      </div>
    </div>
    
  </div>

</footer>
