@media (min-width: 1100px){
    .main-content{
      margin-left: 20px !important;
    }
  }
  @media (min-width: 1200px){
    .main-content{
      margin-left: 80px !important;
    }
  }

  @media (min-width: 1300px){
    .main-content{
      margin-left: 90px !important;
    }
  }
  @media (min-width: 1400px){
    .main-content{
      margin-left: 140px !important;
    }
  }
  @media (min-width: 1500px){
    .main-content{
      margin-left: 200px !important;
    }
  }
  @media (min-width: 1600px){
    .main-content{
      margin-left: 225px !important;
    }
  }
  @media (min-width: 1700px){
    .main-content{
      margin-left: 240px !important;
    }
  }
  @media (min-width: 1800px){
    .main-content{
      margin-left: 300px !important;
    }
  }
  @media (min-width: 1900px){
    .main-content{
      margin-left: 360px !important;
    }
  }
  @media (min-width: 2000px){
    .main-content{
      margin-left: 420px !important;
    }
  }
  @media (min-width: 2100px){
    .main-content{
      margin-left: 480px !important;
    }
  }
  @media (min-width: 2200px){
    .main-content{
      margin-left: 540px !important;
    }
  }

  @media (min-width: 2300px){
    .main-content{
      margin-left: 600px !important;
    }
  }
  @media (min-width: 2400px){
    .main-content{
      margin-left: 660px !important;
    }
  }
  @media (min-width: 2500px){
    .main-content{
      margin-left: 720px !important;
    }
  }
  @media (min-width: 2600px){
    .main-content{
      margin-left: 780px !important;
    }
  }
  @media (min-width: 2700px){
    .main-content{
      margin-left: 840px !important;
    }
  }
  @media (min-width: 2800px){
    .main-content{
      margin-left: 900px !important;
    }
  }
  @media (min-width: 2900px){
    .main-content{
      margin-left: 960px !important;
    }
  }
  @media (min-width: 3000px){
    .main-content{
      margin-left: 1020px !important;
    }
  }
  @media (min-width: 3100px){
    .main-content{
      margin-left: 1080px !important;
    }
  }
  @media (min-width: 3200px){
    .main-content{
      margin-left: 1140px !important;
    }
  }
  @media (min-width: 3300px){
    .main-content{
      margin-left: 1200px !important;
    }
  }
  @media (min-width: 3400px){
    .main-content{
      margin-left: 1260px !important;
    }
  }
  @media (min-width: 3500px){
    .main-content{
      margin-left: 1320px !important;
    }
  }
  @media (min-width: 3600px){
    .main-content{
      margin-left: 1380px !important;
    }
  }
  @media (min-width: 3700px){
    .main-content{
      margin-left: 1440px !important;
    }
  }
  @media (min-width: 3800px){
    .main-content{
      margin-left: 1380px !important;
    }
  }
  @media (min-width: 3900px){
    .main-content{
      margin-left: 1860px !important;
    }
  }
  @media (min-width: 4000px){
    .main-content{
      margin-left: 1900px !important;
    }
  }
  @media (min-width: 4100px){
    .main-content{
      margin-left: 1946px !important;
    }
  }
