<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <img class="page__hero-image" src="assets/img/Night_Sky_Stars_Trees_03.jpg" alt="background">
    <main class="page-content" aria-label="Content">
    <div class="wrapper">     
        <div class="container">
            <div class="features">
                <div class="feature one">
                    <img  src="./assets/img/Math.svg" alt="Floating Calculator">
                    <p>Floating Calculator</p>
                    <p>Conveniently access the calculator while <br>browsing, saving time and effort.</p>
                </div>
                <div class="feature two">
                    <img src="./assets/img/Calculator.svg" alt="Basic and Advanced calculations">
                    <p>Basic and Advanced Calculations</p>
                    <p>Perform all calculations, from simple to <br>complex, with ease and accuracy.</p>
                </div>
                <div class="feature three">
                    <img src="./assets/img/Time Machine.svg" alt="History Log">
                    <p>History Log</p>
                    <p>Keep track of your calculations <br>for future reference.</p>
                </div>
                <div class="feature four">
                    <img src="./assets/img/Adjust.svg" alt="Customization Options">
                    <p>Customization Options</p>
                    <p>Personalize the look and feel of the <br>calculator to your liking.</p>
                </div>
                <div class="feature five">
                    <img src="./assets/img/Keyboard.svg" alt="Keyboard Shortcut">
                    <p>Keyboard Shortcuts</p>
                    <p>Save time with quick and easy <br>keyboard shortcuts.</p>
                </div>
                <div class="feature six">
                    <img src="./assets/img/Estimate.svg" alt="financial calculations">
                    <p>Soon: financial calculations</p>
                    <p>Quickly convert currency or loan tenure <br>or investment rates.</p>
                </div>
            </div>
        </div>
    </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
