<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <div class="container" id="container" style="background-image: url('{{ site.background | relative_url }}');">
        <div class="row justify-content-center">
            <div class="col-lg-5 left-item" style="margin-top: 70px; margin-left: 50px;">
                <img src="/assets/img/float_calc.png" alt="">
            </div>
            <div class="col-lg-6 right-item" style="margin-top: 110px; margin-left: -50px;">
                <div class="row justify-content-start">
                    <div class="col-3">
                        <img  class="calcu_logo" src="/assets/img/Screenshot__82_-removebg-preview.png" alt="">
                    </div>
                    <div class="col-9">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-12">
                                <h3 style="display: inline; margin-top: 0px; color: white;">Floating Calculator</h3> 
                            </div>
                            <div class="col-12">
                                <h5 style="display: inline; color: white;">Free</h5>
                            </div>     
                        </div>
                    </div>
                </div>
                <div class="col-8" style="margin-top: 50px; margin-left: 22px;">
                    <h5>A chrome extension for making calculations on the web</h5>
                    <a href="https://chrome.google.com/webstore/detail/floating-scientific-calcu/mbfnbhfjnjeedaknilkfegfnnmmmmpmn" target="_blank">
                        <img width="300px" style="margin-top: 50px;" height="auto" src="/assets/img/chrome-download.png" alt=""></a>
                </div>
            </div>   
            </div>
        </div>
    </div>
    <main class="page-content" aria-label="Content">
    <div class="wrapper">     
        <div class="content">
            <div class="features">
                <div class="feature one">
                    <img  src="./assets/img/Math.svg" alt="Floating Calculator">
                    <p>Floating Calculator</p>
                    <p>Conveniently access the calculator while <br>browsing, saving time and effort.</p>
                </div>
                <div class="feature two">
                    <img src="./assets/img/Calculator.svg" alt="Basic and Advanced calculations">
                    <p>Basic and Advanced Calculations</p>
                    <p>Perform all calculations, from simple to <br>complex, with ease and accuracy.</p>
                </div>
                <div class="feature three">
                    <img src="./assets/img/Time Machine.svg" alt="History Log">
                    <p>History Log</p>
                    <p>Keep track of your calculations <br>for future reference.</p>
                </div>
                <div class="feature four">
                    <img src="./assets/img/Adjust.svg" alt="Customization Options">
                    <p>Customization Options</p>
                    <p>Personalize the look and feel of the <br>calculator to your liking.</p>
                </div>
                <div class="feature five">
                    <img src="./assets/img/Keyboard.svg" alt="Keyboard Shortcut">
                    <p>Keyboard Shortcuts</p>
                    <p>Save time with quick and easy <br>keyboard shortcuts.</p>
                </div>
                <div class="feature six">
                    <img src="./assets/img/Estimate.svg" alt="financial calculations">
                    <p>Soon: financial calculations</p>
                    <p>Quickly convert currency or loan tenure <br>or investment rates.</p>
                </div>
            </div>
        </div>
    </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
